/* PIE DE PAGINA */
.pie__de__pagina {
  font-family:$typo_footer;
    color:$negro;
    background-color:$manteca;
    margin-top: 30px;
    text-align: center; }
  
  .pie__de__pagina img {
    height: 40px;
    align-content: flex-start; }
  