/* PIE DE PAGINA */
.pie__de__pagina {
    color: #070606;
    background-color: whitesmoke;
    text-align: center; }
  
  .pie__de__pagina img {
    height: 50px;
    align-content: flex-start; }
  