/* PIE DE PAGINA */
.pie__de__pagina {
  font-family: $typo_principal;
    color:$fondo;
    background-color:$whitesmoke;
    text-align: center; }
  
  .pie__de__pagina img {
    height: 50px;
    align-content: flex-start; }
  