/* HEADER */
header {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    min-height: 70px;
    background-color: $fondo;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $whitesmoke; }
  
  .nombre__empresa {
    font-size: 50px; }
  
  .link__navegacion {
    text-decoration: none;
    color: $whitesmoke; }
  
  .logo {
    display: flex;
    align-items: center; }
  
  .logo img {
    height: 150px;
    margin-right: 10px; }
  
  li {
    display: inline; }
  
  nav a {
    font-weight: 600;
    padding-right: 10px;
    font-family: 'Roboto Slab', serif; }
  
  nav a:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms; }
  


    @media (max-width: 768px) {
      header {
        flex-direction: column;
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: $whitesmoke; }
      .nombre__empresa {
        font-size: 50px; }
      .logo {
        flex-direction: column; }
      header ul {
        display: flex;
        flex-direction: row;
        font-size: 25px; }
        nav a { font-size: 20px;}
      li {
        display: block;
        align-items: center;
        margin: 0.5 rem; }}

        // * MEDIA QUERY DISPOSITIVOS MOVILES */
        @media (max-width: 575px) { 
          .nombre__empresa {
            font-size: 40px; }
          
          nav a { font-size: 15px;}}
      
     