/* NOSOTROS */


.melez { display: grid;}

.container_nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "texto_nosotros img_nosotros"
    "texto_nosotros img_nosotros"
    "texto_nosotros img_nosotros";
}

.texto_nosotros {
  grid-area: texto_nosotros;
}

.img_nosotros {
  grid-area: img_nosotros;
}

.texto_nosotros {
 align-items: start;
}

.img_nosotros {
  align-items: center;
  margin: 20px 20px 20px 40px;
  content: normal;
  width: 500px;
  height: 600px;
  object-fit: cover;
  align-items: center;
}

@media (max-width: 768px) {

  .img_nosotros {
    display: grid;
    margin: 20px 20px 20px 40px;
    content: normal;
    width: 400px;
    height: 900px;
    object-fit: cover;
    justify-content: end;
    align-content: center;
  }
  
  .texto_nosotros_desktop {
    display: none;
  }
}


@media (max-width: 575px) {
  .container_nosotros {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 0fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "img_nosotros img_nosotros"
      "texto_nosotros texto_nosotros"
  }

  .texto_nosotros {
    display: grid;
    font-size: 15px;
    flex-direction: row-reverse;
    justify-items: center;

    margin: 0px 0px 20px 20px;
    align-items: stretch;
  }


  .img_nosotros {

    margin: 20px 20px 20px 50px;
    height: 500px;
    width: 400px;

    object-fit: cover;
    justify-content: end;
    align-content: space-around;
  }

}