/* MENU */
.menu {
  font-family: 'Roboto Serif', serif;
  display: grid;
  align-content: space-between;
  justify-content: center;
  align-items: center;
    background-image: url(https://ep01.epimg.net/elcomidista/imagenes/2017/09/27/articulo/1506522721_155894_1506523041_media_normal.jpg); }
  
  .titulo__menu {
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    text-decoration: double 3px whitesmoke; 
  padding: 20px;}
  
  .lista-menu {
    display: inline; }
  
  .menu__productos {
    color: whitesmoke;
    width: 70%;
    height: 80%;
    padding: 0 0 70px 0px;
    text-align: center; }
  